{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<div class="content profile">
    <!--nickname, image_profile 구현-->

    <h3>{{ cur_user }}</h3>
    <div class="profile-image">
    <a href="#">
        <img class="circle-user-img" src="{{ cur_user.profile_image.url }}" alt="" width="152px" height="152px">
    </a>
    </div>

    {% if user.is_authenticated %}
        {% if user != cur_user %}
             <form action="{% url 'member:follow_toggle' user_pk=cur_user.pk %}" method="POST">
                {% csrf_token %}
                {% if cur_user in user.following %}
                    <button type="submit" class="btn">팔로우 취소</button>
                {% else %}
                    <button type="submit" class="btn">팔로우</button>
                {% endif %}
                </form>
        {% else %}
            <a href="{% url 'member:profile_edit' %}" class="btn">프로필 수정하기 </a>
        {% endif %}
    {% endif %}


    <h5>Following</h5>
    {% for u in cur_user.following %}
        <div>
            <!-- 해당 User의 Profile로 갈 수 있는 링크 생성-->
            <a href="{% url 'member:profile' user_pk=u.pk %}" class="btn">{{ u }}-{{ u.pk }}번</a>
        </div>
    {% endfor %}

    <h5>Followers</h5>
    {% for u in cur_user.followers %}
        <a href="{% url 'member:profile' user_pk=u.pk %}" class="btn">{{ u }}</a>
    {% endfor %}

    <ul class="profile-photo-list">
    {% for post in posts %}
      <li>

              <img src="{{ post.photo.url }}" alt="" width="33%" height="300px">
      </li>
    {% endfor %}
    </ul>

    {% if next_page %}
    <a href="?page={{ page|add:1 }}" class="btn btn-lg btn-primary btn-block">더 읽어들이기</a>
    {% endif %}
    </div>
</div>


{% endblock %}
