{% load static %}
<article class="post">
    <header class="post-header">
        <div class="post-header-left">
            <a href="#"><img class="circle-user-img" src="{% static 'images/unknown.jpg' %}" alt=""></a>
            <span><a href="">{{ post.author }}</a>  {{ post.id }}번 게시물</span>
        </div>
        <div class="post-header-right">

        </div>
    </header>
    <div class="post-photo-container">
        {% if type == 'list' %}
        <a href="{% url 'posts:post_detail' post.pk %}">
            <img src="{{ post.photo.url }}" alt="">
        </a>
        {% else %}
            <img src="{{ post.photo.url }}" alt="">
        {% endif %}
    </div>
    <div class="post-content-container">
    <div class="post-btn-container">
          <a href="">
              <img src="" alt="">
          </a>
          <a href="">
              <img src="" alt="">
          </a>
      </div>
      <div class="post-like">
        <p>좋아요 {{ post.like_counts }}개</p>
      </div>
      <div class="post-comment-container">

          <!--post에 연결된 Comment 목록을 for문으로 순회-->
          {% for comment in post.comment_set.all %}
          <div class="post-comment">
              <a href="#" class="comment-author">{{ comment.author }}</a>
              <a href="{% url 'posts:comment_delete' comment.post.pk comment.pk %}" class="comment-tag">
                  <span class="comment-content" >{{ comment.content }}</span>
              </a>
          </div>
          {% endfor %}
      </div>
      <p class="created">{{ post.created_date }}</p>
        {% include "comment/comment_create.html" %}

    </div>
</article>
