{% extends 'common/base.html' %}
{% block content %}
<h1> post_create 페이지 </h1>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>{{ form.user }}</div>
    <input type="file" name="file">
    <input type="text" name="comment" placeholder="댓글">
    <button type="submit">등록</button>
</form>


        <!--<div>{{ form.image }}</div>-->
        <!--<button type="submit" value="submit">Upload</button>-->

<p><a href="{% url 'posts:post_list' %}">돌아가기</a></p>
{% endblock %}